<%= link_to "Add Yourself", new_player_path %>
<br />
If you don't show up or your stats are wrong, be patient, stats can take up to 48 hours to update.
<br />
<strong>NOTICE: Due to data loss, if your name is not in the list and you have already added yourself to the leaderboard, please Re-Add yourself. (Sorry I&apos;ll try to not let that happen again.)</strong>
<br /><br />
<div id="leaderboard"></div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#leaderboard").jTable({
      width: '100%',
      singleColumnSearch: true,
      indexUrl: '/players.json',
      viewLink: false,
      editLink: false,
      destroyLink: false,
      columns: [
        {heading: 'Baddit Rank', attribute: 'baddit_rank', searchable: false, sortable:false},
        {heading: 'Reddit Username', attribute: 'reddit_name'},
        {heading: 'InGame Username', attribute: 'game_name'},
        {heading: 'Platform', attribute: 'platform'},
        {heading: 'Rank', attribute: 'rank'},
        {heading: 'Total Score', attribute: 'score'},
        {heading: 'Score Per Minute', attribute: 'score_per_minute', searchable: false, sortable:false},
        {heading: 'Kills', attribute: 'kills'},
        {heading: 'Deaths', attribute: 'deaths'}
      ]
    })
  })
</script>